.weather-page {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 20px;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 한 줄에 5일씩 표시 */
    gap: 20px; /* 카드 간의 간격 조정 */
    margin: 20px auto; /* 가운데 정렬 */
    width: 80%; /* 전체 너비의 80% */
    max-width: 1440px; /* 최대 너비 */
}

.day {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: #f9f9f9;
    transition: background-color 0.3s;
}

.day:hover {
    background-color: #e0e0e0;
}

.weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-info > div {
    margin: 5px 0;
}

.weather-icon {
    width: 50px;
    height: 50px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;

    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #D5E6F5;
}

.BMProTitle{
    font-family: 'BMHANNAPro', sans-serif;
        font-size: 24px;
}
.BMPro{
    font-family: 'BMHANNAPro', sans-serif;
    font-size: 18px;
}
.BMAir{
    font-family: 'BMHANNAAir', sans-serif;
    font-size: 15px;
}