.footer {
    background-color: #f8f9fa;
    /* padding-left: 200px 0; */
    padding : 20px 0 ;
    /* margin: 10px; */
  }
  
  @media (max-width: 768px) {
    .footer p {
      text-align: center;
    }
  }
  