.certification-modal-main {
  background-color: white;
  padding: 10px;
  width: 30%;
  max-width: 1440px;
  min-height: 10%;
  height: 370px;
  margin: 0 auto;
  box-shadow: 0.2px 2px 10px 0.5px #0097FF;
  border: #b1c7f0;
  border-radius: 30px;
  gap: 24px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15%;
  left: 35%;
}

.certification-modal-logo {
  height: 100px;
  background-color: rgb(57, 54, 54);
  width: 134px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  border-radius: 5px;
}

.certification-modal-logo .img {
  height: 100%;
  width: 100%;
}

.certification-modal-main-check-textbox {
  background-color: #D5E6F5;
  height: 80px;
  width: 75%;
  margin: 20px auto;
  align-items: center;
  justify-content: center;
  line-height: 2;
}

.certification-modal-main-check-textbox .bold {
  font-family: 'BMHANNAPro', sans-serif;
  font-size: 15px;
  text-align: center;
}

.certification-modal-main-check-textbox .detail {
  font-family: 'BMHANNAAir', sans-serif;
  color: #0097FF;
  font-size: 10px;
  text-align: center;
}

form {
  width: 100%;
  margin-left: 40px;
  text-align: left;
  align-content: start;
}

.form-group {
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 5px;
  position: relative;
}

.form-group label {
  width: 20%;
  font-weight: bold;
  color: #888;
  text-align: right;
  padding-right: 10px;
}

.form-group input {
  width: 55%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #888888; /* Placeholder 텍스트 색상 */
  background-color: #f0f0f0; /* 배경색 */
  border: none; /* 테두리 제거 */
  border-radius: 1px; /* 둥근 모서리 */
}

.form-group input::placeholder {
  color: #888888; /* Placeholder 텍스트 색상 */
}

.form-group input:focus {
  outline: none; /* 포커스 시 기본 외곽선 제거 */
}

.certification-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.close-button {
  
  position: absolute;
  top: 10px;
  right: 10px;
  background: #c4c4c4;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: black; /* 기본 텍스트 색상 */
}

.close-button:hover {
  color: red; /* 닫기 버튼 호버 시 색상 변경 */
}

.certification-modal-main {
  width: 400px; /* 원하는 너비로 설정 */
  padding: 20px; /* 필요한 여백 설정 */
  background: white; /* 배경색 설정 */
  top: 50%; /* 화면 중앙 정렬 */
  left: 50%; /* 화면 중앙 정렬 */
  transform: translate(-50%, -50%); /* 화면 중앙 정렬 */
}
