.LoadMyCourse {
    font-family: Arial, sans-serif;
    text-align: center;
    z-index: 1;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    width: 600px;
    height: 650px;
    z-index: 999;
  }
  
  .course-selection {
    margin-top: 20px;
  }
  
  .course-selection div {
    margin-bottom: 10px;
  }
  
  .course-options {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
  }
  
  .modal-actions button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal-actions button:hover {
    background-color: #0056b3;
  }
  
  .course-set {
    margin-bottom: 20px;
  }
  
  .course-item {
    display: inline-block;
    width: 100px;
    margin: 10px;
    text-align: center;
  }
  
  .course-image {
    width: 100px;
    height: auto;
  }

  .load-more-btn {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .load-more-btn:hover {
    background-color: #0056b3;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .pagination-btn {
    margin: 0 5px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pagination-btn:hover {
    background-color: #0056b3;
  }