.main-cards-container {
  display: flex;
  justify-content: center;
  width: 80%;
  max-width: 1440px;
  margin: auto;
}

.carousel-container {
  position: relative;
  max-width: 1440px;
  display: flex;
  align-items: center;
  margin: auto;
  width: 60%;
  overflow: hidden;
  text-align: center;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
  justify-content: center;
  width: 100%;
  height: 200px;
}

.carousel-item {
  min-width: 25%;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-item img {
  width: 100%; 
  height: auto; 
  max-height: 150px;
  object-fit: cover; 
}

button {
  background-color: transparent;
  width: 10%;
  border: none;
  cursor: pointer;
  border-color: black;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button img {
  border-color: black;
  height: 30px;
  width: 30px;
}

.prev-button {
  position: absolute;
  left: -10px;
  top: 35%;
  transform: translateY(-50%);
}

.next-button {
  position: absolute;
  right: -10px;
  top: 35%;
  transform: translateY(-50%);
}

.map-containers {
  display: flex;
  justify-content: center;
  width: 80%;
  max-width: 1440px;
  height: 500px;
  margin: auto;
  margin-top: 30px;
  position: relative;
}

.map {
  width: 70%;
  height: 100%;
}

.button-container {
  width: 60%; 
  margin: 0 auto; 
  position: absolute;
  top: 10px;
  left: 17%;
  display: flex;
  z-index: 10;
}

.button-container .button {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100px;
  cursor: pointer;
  font-family: 'BMHANNAPro', sans-serif;
  font-size: 18px;
  color: black;
}


.recommendplace h2 {
  width: 300px;
  height: 50px;
  background-color: #D5E6F5;
  text-decoration: none;
  color: black;
  border-radius: 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  font-family: 'BMHANNAPro', sans-serif;
  font-size: 25px;
}

.mainupper {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 100px;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.Weather {
  position: relative;
  margin-top: 100px;
}

.Weather h2 {
  width: 300px;
  height: 50px;
  background-color: #D5E6F5;
  text-decoration: none;
  color: black;
  border-radius: 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  font-family: 'BMHANNAPro', sans-serif;
  font-size: 25px;
}