.main-cards-container {
  display: flex;
  justify-content: center;
  width: 80%;
  max-width: 1440px;
  margin: auto;
}

.carousel-container {
  position: relative; /* 부모 요소를 relative로 설정 */
  max-width: 1440px;
  display: flex;
  align-items: center;
  margin: auto;
  width: 60%;
  overflow: hidden;
  text-align: center;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
  justify-content: center;
  width: 100%;
}

.carousel-item {
  min-width: 25%; /* Each item takes up 25% of the container */
  box-sizing: border-box;
  padding: 10px;
}

button {
  background-color: transparent;
  width : 10%;
  border: none;
  cursor: pointer;
  border-color: black;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button img {
  border-color: black;
  height: 30px;
  width: 30px;
}

.prev-button {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.next-button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
