.main-cards-container {
  display: flex;
  justify-content: center;
  width: 80%;
  max-width: 1440px;
  height: 300px;
  margin: auto;
}

.mainpage-carousel-container {
  position: relative;
  max-width: 1440px;
  display: flex;
  align-items: center;
  margin: auto;
  width: 60%;
  overflow: hidden;
  text-align: center;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
  justify-content: center;
  width: 100%;
}

.mainpage-carousel-item {
  min-width: 25%;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainpage-carousel-item img {
  width: 200px; /* 너비를 늘림 */
  height: 160px; /* 높이를 늘림 */
  max-height: 200px; /* 최대 높이를 조정 (선택사항) */
  object-fit: cover; /* 이미지 비율 유지하며 자르기 */
}

.image-container {
  position: relative;
  display: inline-block;
}

.favoriteplace {
  position: absolute;
  top: 10px; /* 이미지 위쪽으로부터의 거리 */
  right: 10px; /* 이미지 오른쪽으로부터의 거리 */
  width: 30px; /* 버튼의 너비 */
  height: 30px; /* 버튼의 높이 */
  cursor: pointer; /* 커서를 포인터로 변경 */
  transition: transform 0.3s ease; /* 마우스 오버 시 변환 효과 */
  background-color: white;
  padding: 3px;
  border-radius: 100%;
}

.favoriteplace:hover {
  transform: scale(1.1); /* 마우스 오버 시 크기 증가 */
}

.favoriteplace:active {
  transform: scale(0.9); /* 클릭 시 크기 감소 */
}

.naverMainMap {
  width: 1000px;
  height: 500px;
}

.button-container {
  width: 60%; 
  margin: 0 auto; 
  position: relative;
  top: 10px;
  left: 17%;
  display: flex;
  z-index: 10;
}

.button-container .button {
  background: none;
  border: none;
  font-size: 16px;
  color: #808080; /* 버튼 텍스트 색상 (회색) */
  cursor: pointer;
  padding: 10px 20px;
  position: relative;
}


.recommendplace h2 {
  width: 300px;
  height: 50px;
  background-color: #D5E6F5;
  text-decoration: none;
  color: black;
  border-radius: 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  font-family: 'BMHANNAPro', sans-serif;
  font-size: 20px;
}

.mainupper {
  display: flex;
  flex-direction: column; 
  margin: 0 auto;
  position: relative;

}

.Weather {
  position: relative;
  margin-top: 100px;
}

.Weather h2 {
  width: 300px;
  height: 50px;
  background-color: #D5E6F5;
  text-decoration: none;
  color: black;
  border-radius: 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  font-family: 'BMHANNAPro', sans-serif;
  font-size: 20px;
}

.hidden {
  display: none;
}

.main-image {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.main {
  width: 100%;
  height: auto;
}

.gangchu {
  position: absolute;
  bottom: 150px; /* 텍스트 위치를 이미지 하단에서 조정 */
  left: 50%;
  transform: translateX(-50%); /* 텍스트를 가로로 가운데 정렬 */
  font-size: 70px; /* 폰트 크기 설정 */
  font-weight: bold;
  color: rgb(242, 243, 246); /* 텍스트 색상 설정 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 텍스트 그림자 설정 */
  text-align: center;
  width: 100%;
}

.card{
  margin: 30px auto;
}

.image-grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5열 */
  grid-template-rows: repeat(2, auto); /* 2행 */
  gap: 10px; /* 이미지 간격 */
  justify-items: center; /* 가운데 정렬 */
  margin: 30px auto;
}

.image-grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-image {
  width: 200px; /* 너비를 200px로 늘림 */
  height: 160px; /* 높이를 160px로 늘림 */
  object-fit: cover; /* 비율을 유지하며 이미지를 자름 */
  border-radius: 8px; /* 둥근 테두리 */
  transition: transform 0.3s ease; /* 부드러운 전환 효과 */
}

.grid-image:hover {
  transform: scale(1.1); /* 호버 시 이미지를 확대 */
}


.card-img-top-main {
  width : 250px;
  height : 200px;
}