.navbar {
  display: flex;
  flex-direction: column; /* 세로 정렬로 변경 */
  align-items: center;
  background-color: #f5f5f5;
  padding: 20px; /* 상하 좌우 패딩 */
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.navbar-user {
  display: flex;
  width: 40%;
  gap: 20px;
  position: absolute;
  top: 10px;
  left: 703px;
  font-family: 'BMHANNAPro', sans-serif;
  font-size: 18px;
  justify-content: flex-end;
  height: 40px;
}

.navbar-links {
  display: flex;
  gap: 20px;
  font-family: 'BMHANNAPro', sans-serif;
  font-size: 18px;
}

.navbar-user a {
  padding: 10px;
  min-width: 200px;
  background-color: #d5e6f5;
  text-decoration: none;
  color: black;
  border-radius: 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
  transition: background-color 0.3s, box-shadow 0.3s; /* hover 효과를 위한 전환 */
}

.navbar-user .nav-button { /* 구체성을 높임 */
  padding: 10px;
  min-width: 220px;
  height: 40px;
  margin-top: 0px;
  margin: 0px;
  background-color: #d5e6f5;
  text-decoration: none;
  color: black;
  border-radius: 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
  transition: background-color 0.3s, box-shadow 0.3s; /* hover 효과를 위한 전환 */
}

.navbar-user .nav-button:hover{
  background-color: #b5cce5; /* hover 시 색상 변경 */
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2); 
}

.navbar-user a:hover {
  background-color: #b5cce5; /* hover 시 색상 변경 */
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2); /* hover 시 그림자 효과 변경 */
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 120px; /* 로고 이미지 높이 */
  margin-right: 10px;
}

.navbar-links {
  display: flex;
  gap: 20px;
  font-family: 'BMHANNAPro', sans-serif;
  font-size: 18px;
}

.navbar-links a {
  padding: 10px;
  min-width: 200px;
  background-color: #d5e6f5;
  text-decoration: none;
  color: black;
  border-radius: 0px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
  transition: background-color 0.3s, box-shadow 0.3s; /* hover 효과를 위한 전환 */
}

.navbar-links a:hover {
  background-color: #b5cce5; /* hover 시 색상 변경 */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* hover 시 그림자 효과 변경 */
}

.navbar-logoandlinks {
  display: flex; /* 가로 정렬로 변경 */
  align-items: center; /* 세로 정렬 가운데 */
  margin-top: 20px; /* 상단 사용자 메뉴와의 여백 추가 */
  margin-left: 0px;
}

.divider {
  height: 20px;
  width: 1px;
  background-color: #000; /* 구분선 색상 */
  margin: 0 10px; /* 구분선 좌우 여백 */
}
