.report-container {
    max-width: 1440px;
    margin: 0 auto;
}

.PostList {
    position: relative;
    padding: 100px;
}

.PostList h2 {
    width: 200px;
    height: 50px;
    background-color: #D5E6F5;
    text-decoration: none;
    color: black;
    border-radius: 0px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    font-family: 'BMHANNAPro', sans-serif;
    font-size: 25px;
}

.report-table {
    width: 100%;
}

.report-table th, .report-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.report-table th {
    background-color: #f2f2f2;
    color: black;
}

.report-table input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

.report-actions {
    display: flex;
    flex-direction: row; /* 세로 방향으로 정렬을 가로로 변경 */
    align-items: center; /* 가운데 정렬 */
    justify-content: flex-end;
    width: 100%; /* 버튼 영역 전체 너비 */
    max-width: 1440px;
    margin: 5% 0 5% 0;
    padding-right: 8%; 
}

.report-delete,
.login-restriction,
.cencored {
    margin: 0 10px; /* 버튼 간의 간격 좌우*/
    padding: 10px; 
    width: 100px; 
    height: 40px; 
    background-color: #e0ecf6;
    cursor: pointer; /* 커서를 포인터로 변경하여 클릭 가능함을 나타냄 */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /* 버튼 그림자 */
    font-size: 18px; 
    border: none; /* 테두리를 없앰 */
    outline: none; /* 포커스 아웃라인을 없앰 */
    display: flex; 
    justify-content: center; /* 가로축 가운데 정렬 */
    align-items: center; /* 세로축 가운데 정렬 */
    border-radius: 0px; /* 모서리를 둥글게 하지 않음 */
    color: #000;
}

.report-delete:hover,
.login-restriction:hover,
.cencored:hover {
    background-color: #D7DFE6; /* 약간 더 밝은 회색으로 변경 */
    border-radius: 0px; /* 모서리를 둥글게 하지 않음 */
}